/* VARIABLES */
:root{
    --primary-color: #3d3836;
    --secondary-color: #e68b7b;
    --tertiary-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-family: Verdana, Arial, sans-serif;
}

/* HEADER STYLING START */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px 20px 0;
    background-color: var(--primary-color);
    position: sticky;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header h1 a {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0 10px 0 80px;
}

header nav {
    margin: 10px 0 0 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 10px 15px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;  
}
/* END HEADER STYLES */

/* HERO STYLING START */
.hero {
    background-image: url("../images/jumbotron.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px;
    justify-content: space-between;
    position: relative;
}

.hero img {
    border: 3px solid var(--primary-color);
    border-top: none;
    border-bottom: none;
}

.hero h2 {
    position: absolute;
    bottom: 10px;
    right: 40px;
    padding: 5px;
    background-color: var(--secondary-color);
}
/* HERO STYLING END */

/* CONTENT STYLING START */
.main-content section {
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.main-content h2 {
    padding: 10px;
    width: 20%;
    text-align: right;
    font-size: 30px;
}

.content-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    flex: 2 70%;
    border-left: 3px solid var(--primary-color);
}


/* CONTENT STYLING END */



@media screen and (max-width: 768px) {
    header {
        position: relative;
        justify-content: center;
        padding: 0 0 20px 0;
    }
    
    header h1 {
        width: 100%;
        background-color: var(--secondary-color);
        text-align: center;
    }
    
    header h1 a {
        padding: 0 10px;
    }

    .hero {
        justify-content: center;
        padding: 10px 40px;
    }

    .hero img {
        border: none;
        padding-bottom: 10px;
    }

    .hero h2 {
        position: relative;
        width: 100%;
        text-align: center;
        right: 0;
        bottom: 0;
    }

}